.ipynb_checkpoints/DataSet-checkpoint.py
.ipynb_checkpoints/SystemConfig-checkpoint.py
.ipynb_checkpoints/XRay_DataSet-checkpoint.py
.ipynb_checkpoints/XRay_Test-AK-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-Carina-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-DAO-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-LAA-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-PC-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-checkpoint.py
.ipynb_checkpoints/XRay_Test-ltlowercb-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-rtlowercb-checkpoint.ipynb
.ipynb_checkpoints/XRay_Test-rtuppercb-checkpoint.ipynb
.ipynb_checkpoints/XRay_Train-checkpoint.ipynb
.ipynb_checkpoints/_visualize-checkpoint.py
.ipynb_checkpoints/coco-checkpoint.py
.ipynb_checkpoints/config-checkpoint.py
.ipynb_checkpoints/demo-Copy1-checkpoint.ipynb
.ipynb_checkpoints/demo-checkpoint.ipynb
.ipynb_checkpoints/model-checkpoint.py
.ipynb_checkpoints/shapes-checkpoint.py
.ipynb_checkpoints/utils-checkpoint.py
.ipynb_checkpoints/visualize-checkpoint.py
.vscode/settings.json
Models/MaskRCNN_Aortic Knob_20180412_095933.hdf5
Models/MaskRCNN_DAO_%04d%02d%02d_%02d%02d%02d.hdf5
Models/MaskRCNN_LAA_%04d%02d%02d_%02d%02d%02d.hdf5
Models/MaskRCNN_Lt Lower CB_20180417_133115.hdf5
Models/MaskRCNN_Pulmonary Conus_%04d%02d%02d_%02d%02d%02d.hdf5
Models/MaskRCNN_Rt Lower CB_20180411_164253.hdf5
Models/MaskRCNN_Rt Upper CB_20180410_202127.hdf5
Models/mask_rcnn_cardiomegaly_0022.h5
__pycache__/DataSet.cpython-34.pyc
__pycache__/DataSets.cpython-34.pyc
__pycache__/MaskRCNNTask.cpython-34.pyc
__pycache__/PostProcessing.cpython-34.pyc
__pycache__/SystemConfig.cpython-34.pyc
__pycache__/XRay_DataSet.cpython-34.pyc
__pycache__/XRay_DataSet.cpython-36.pyc
__pycache__/coco.cpython-34.pyc
__pycache__/config.cpython-34.pyc
__pycache__/config.cpython-36.pyc
__pycache__/model.cpython-34.pyc
__pycache__/utils.cpython-34.pyc
__pycache__/utils.cpython-36.pyc
__pycache__/visualize.cpython-34.pyc
assets/4k_video.gif
assets/detection_activations.png
assets/detection_anchors.png
assets/detection_final.png
assets/detection_histograms.png
assets/detection_masks.png
assets/detection_refinement.png
assets/detection_tensorboard.png
assets/donuts.png
assets/sheep.png
assets/street.png
images/1045023827_4ec3e8ba5c_z.jpg
images/12283150_12d37e6389_z.jpg
images/2383514521_1fc8d7b0de_z.jpg
images/2502287818_41e4b0c4fb_z.jpg
images/2516944023_d00345997d_z.jpg
images/25691390_f9944f61b5_z.jpg
images/262985539_1709e54576_z.jpg
images/3132016470_c27baa00e8_z.jpg
images/3627527276_6fe8cd9bfe_z.jpg
images/3651581213_f81963d1dd_z.jpg
images/3800883468_12af3c0b50_z.jpg
images/3862500489_6fd195d183_z.jpg
images/3878153025_8fde829928_z.jpg
images/4410436637_7b0ca36ee7_z.jpg
images/4782628554_668bc31826_z.jpg
images/5951960966_d4e1cda5d0_z.jpg
images/6584515005_fce9cec486_z.jpg
images/6821351586_59aa0dc110_z.jpg
images/7581246086_cf7bbb7255_z.jpg
images/7933423348_c30bd9bd4e_z.jpg
images/8053677163_d4c8f416be_z.jpg
images/8239308689_efa6c11b08_z.jpg
images/8433365521_9252889f9a_z.jpg
images/8512296263_5fc5458e20_z.jpg
images/8699757338_c3941051b6_z.jpg
images/8734543718_37f6b8bd45_z.jpg
images/8829708882_48f263491e_z.jpg
images/9118579087_f9ffa19e63_z.jpg
images/9247489789_132c0d534a_z.jpg
logs/cardiomegaly20180321T2211/events.out.tfevents.1521637897.deepserver
logs/cardiomegaly20180321T2211/events.out.tfevents.1521642273.deepserver
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0002.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0003.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0004.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0005.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0006.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0007.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0008.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0009.h5
logs/cardiomegaly20180321T2211/mask_rcnn_cardiomegaly_0010.h5
logs/cardiomegaly20180322T1020/events.out.tfevents.1521681680.deepserver
logs/cardiomegaly20180322T1020/events.out.tfevents.1521685961.deepserver
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0002.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0003.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0004.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0005.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0006.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0007.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0008.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0009.h5
logs/cardiomegaly20180322T1020/mask_rcnn_cardiomegaly_0010.h5
logs/cardiomegaly20180322T1313/events.out.tfevents.1521692035.deepserver
logs/cardiomegaly20180322T1318/events.out.tfevents.1521692323.deepserver
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0002.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0003.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0004.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0005.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0006.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0007.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0008.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0009.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0010.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0011.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0012.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0013.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0014.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0015.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0016.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0017.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0018.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0019.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0020.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0021.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0022.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0023.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0024.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0025.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0026.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0027.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0028.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0029.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0030.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0031.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0032.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0033.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0034.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0035.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0036.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0037.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0038.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0039.h5
logs/cardiomegaly20180322T1318/mask_rcnn_cardiomegaly_0040.h5
logs/cardiomegaly20180323T1547/events.out.tfevents.1521787684.deepserver
logs/cardiomegaly20180323T1547/events.out.tfevents.1521792059.deepserver
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0002.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0003.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0004.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0005.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0006.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0007.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0008.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0009.h5
logs/cardiomegaly20180323T1547/mask_rcnn_cardiomegaly_0010.h5
logs/cardiomegaly20180323T1715/events.out.tfevents.1521792970.deepserver
logs/cardiomegaly20180323T1718/events.out.tfevents.1521793127.deepserver
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0002.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0003.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0004.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0005.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0006.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0007.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0008.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0009.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0010.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0012.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0013.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0014.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0015.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0016.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0017.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0018.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0019.h5
logs/cardiomegaly20180323T1718/mask_rcnn_cardiomegaly_0020.h5
logs/cardiomegaly20180411T1001/events.out.tfevents.1523408532.deepserver
logs/cardiomegaly20180411T1011/events.out.tfevents.1523409122.deepserver
logs/cardiomegaly20180411T1011/mask_rcnn_cardiomegaly_0001.h5
logs/cardiomegaly20180411T1011/mask_rcnn_cardiomegaly_0002.h5
